div#currentscore {
  position: absolute;
  top: calc(50% - 300px);
  left: calc(50% - 300px);
  font-weight: bold;
  border: 2.5px dotted darkgray;
  padding: 5px;
  margin-top: -50px;
  border-radius: 9px;
  background-color: #DFDFDF;
  box-shadow: none;
  color: #9F9F9F;
  font-size: 20px;
  cursor: default;
}